@font-face {
  font-family: "gg sans";
  src: url("./font/ggsans-Normal.woff2") format("woff2"),
    url("font/ggsans-Normal.woff") format("woff"),
    url("font/ggsans-Semibold.woff") format("woff"),
    url("font/ggsans-Semibold.woff2") format("woff2"),
    url("font/ggsans-Bold.woff") format("woff"),
    url("font/ggsans-Bold.woff2") format("woff2"),
    url("font/ggsans-Medium.woff") format("woff"),
    url("font/ggsans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "ABC Ginto Nord";
  src: url("./font/Ginto-Nord/Ginto-Nord-500.woff2") format("woff2"),
    url("./font/Ginto-Nord/Ginto-Nord-500.woff") format("woff"),
    url("./font/Ginto-Nord/Ginto-Nord-600.woff") format("woff"),
    url("./font/Ginto-Nord/Ginto-Nord-600.woff2") format("woff2"),
    url("./font/Ginto-Nord/Ginto-Nord-700.woff") format("woff"),
    url("./font/Ginto-Nord/Ginto-Nord-700.woff2") format("woff2");
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

/* section 1 */

/* navbar */
.section1 {
  background-color: #404eed;
  height: 85vh;
}

.navbar {
  padding-top: 0.9rem;
  margin: 0rem 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.nav-div-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.logo-3oeRIY {
  width: 7rem;
  z-index: 1;
}

.navlinks {
  display: flex;
  flex-direction: row;

  column-gap: 2.5rem;
  list-style: none;
  list-style: none;
}

.list1 {
  text-align: center;
}

.anchor1 {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  z-index: 1;
}

.anchor1:hover {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  z-index: 1;
}

.nav-btn-1 {
  color: #000000;
  background-color: #ffffff;
  padding: 0.7rem 1rem;
  border-style: hidden;
  border-radius: 4rem;
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
}

.nav-btn-1:hover {
  color: #404eed;
  box-shadow: 0px 26px 35px 0px rgba(0, 0, 0, 0.15);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.nav-btn-div {
  z-index: 1;
}
/* navbar over */

/* hero part start */

.main-wrapper {
  position: relative;
}
.main1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 9.6rem;
  padding: 0;
  overflow-x: visible;
}

.main-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 40rem;
  position: relative;
  top: -5rem;
  z-index: 1;
  padding-bottom: 2rem;
}

.main-header-line {
  font-family: "ABC Ginto Nord", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 700;
  color: #ffffff;
  transform: scale(2.5);
  line-height: 3.4rem;
}
.main_img_one {
  position: relative;
  transform: scale(90%);
  top: 1.1rem;
  z-index: 1;
}
.main-p-line {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 2rem;
}
.main_img_two {
  position: relative;
  top: 0.85rem;
  right: 2.5rem;
  transform: scale(90%);
  z-index: 1;
}

.main-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
}

.main-btn-one {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #000000;
  background-color: #ffffff;
  padding: 0.9rem 2rem;
  border-style: hidden;
  border-radius: 4rem;
  text-align: center;
  cursor: pointer;
  column-gap: 0.5rem;
}

.main-btn-one:hover {
  color: #404eed;
  box-shadow: 0px 26px 35px 0px rgba(0, 0, 0, 0.15);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.main-btn-two {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #ffffff;
  background-color: #23272a;
  padding: 1.1rem 2rem;
  border-style: hidden;
  border-radius: 4rem;
  text-align: center;
  cursor: pointer;
  column-gap: 0.5rem;
}

.main-btn-two:hover {
  background-color: #313338;
  box-shadow: 0px 26px 35px 0px rgba(0, 0, 0, 0.15);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.main-bg-cover {
  position: absolute;
  transform: scale(90%) translate(-25%, -106.1%);
  z-index: 0;
}
